.cartpage{
    text-align: center;
    margin-top: 12%;
}

.cartpage h1{
    font-weight: 300;
    font: bolder;
    font-size: 30px;
}

.cartpage p{
    font-size: 23px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(159, 151, 151);
    margin-top: 20px;
}

.cartpage button{
    width: 160px;
    margin-top: 35px;
    height: 40px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.cartpage button:hover{
    transition: .1s linear;
    background-color: rgb(69, 65, 65);
}

section{
    position: relative;
}